*{
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    margin: auto;
    margin-top: 10px;
    background-color: #287dcc;
    /* border: 1px solid #000; */
    border-radius: 20px;
    /* text-align: center; */
    width: 450px;
    max-width: 100%;
    padding: 30px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}
input, label{
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;

    
}
input{
   background-color: #fafafa;
   margin-top: 5px;
   padding: 10px;
   font-size: 16px;
}

button{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
