body{
    margin: 2rem;
}

img{
    max-width: 100%;
    border-radius: .5rem;
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 1.4rem;
}

.animeLeft{
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    to{
        transform: initial;
        opacity: initial;
    }    
}

.loading{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 7px solid #ccc;
    border-right-color: transparent;
    animation: loading 1s infinite;
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}